
button.form-button {
  width: 360px;
  height: 64px;
  border-radius: 20px;
  opacity: 0.5;
  background-color: #37C77F;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;

  margin-top: 25px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  

  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFFFFF;
}

a.back-button {
  
    width: 48px;
    height: 48px;
  
    border: 0;
  
    background: #12AFCB;
    border-radius: 16px;
  
    cursor: pointer;
  
    transition: background-color 0.2s;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: absolute;  
    right: 6%;
    top: 4%;
}

a.back-button:hover {
  background: #17D6EB;
}