.input-block {
  display: flex;
  flex-direction: column;
}

.input-block > label {
  margin-bottom: 8px;
}


.input-block input {
  width: 360px;
  height: 64px;

  margin-bottom: 20px;

  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  
}

.input-block label {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #8FA7B3;
  text-decoration: none;
}



