.login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login fieldset .checkbox label,
.login fieldset .checkbox a {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #8FA7B3;
  text-decoration: none;
}

.login fieldset .checkbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login fieldset .checkbox input,
.login fieldset .checkbox > button img {  
  display: none;
}

.login fieldset .checkbox label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.login fieldset .checkbox label > button {  
 
  width: 24px;
  height: 24px;

  background: #F5F8FA;

  border: 1px solid #D3E2E5;
  border-radius: 8px;
  cursor: pointer;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.login fieldset .checkbox label > button.active {  
  background-color: #37C77F;
  border: 2px solid #37C77F;
}

.login fieldset .checkbox label > button.active img {
  display: flex;
}

.login fieldset .checkbox a{
  margin-right: 7px;
}

